// header styles
#header {
  height: 40px;
  width: 300px;
  background-color: #302c2d;
  margin-bottom: 25px;
  border-top-left-radius: 15px;
  border-bottom: 4px solid #c3e900;
  .logo-bb {
    margin-top: 5px;
    width: 112px;
  }
  .btn-close {
    height: 16px;
    margin-top: 15px;
    margin-right: 15px;
    float: right;
  }
}

// footer styles
footer {
  height: 20px;
  width: 300px;
  background-color: #e5e5e5;
  //position: absolute;
  bottom: 0;

  .logo-tc {
    width: 90px;
  }
}

//common styles
#main {
  width: 300px;
}

h1 {
  width: 250px;
  font-size: 1.1em;
  margin: 0 auto 20px;
  line-height: 1em;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#complete-container {
  width: 300px;
  height: 536px;
}

//routing page styles
#routing {
  max-width: 300px;
  height: 381px;
  //position: relative;
  #routing-content {
    margin: 0 auto;

    .breadcrumb {
      width: 250px;
      list-style: none;
      padding: 0;
      margin: 0 auto 25px;
      li {
        display: inline-block;
        color: #abaaaf;
        a {
          color: #93ad40;
          text-decoration: none;
        }
        & + li:before {
          padding: 0;
          color: #ccc;
          content: "/\00a0";
        }
      }
    }

    .routing-navigation {
      padding: 0;
      margin: 0 0 40px;
      list-style: none;
      li {
        height: 40px;
        position: relative;
        padding-left: 25px;
        padding-right: 25px;
        cursor: pointer;
        &:hover {
          background-color: #edfdd6;
          span {
            color: #6e8e4f;
          }
        }
        &:active {
          background-color: #9ad000;
          span {
            color: #ffffff;
          }
        }
        a {
          text-decoration: none;
          color: #4d4d4d;
          span {
            position: absolute;
            top: 12px;
            margin-left: 10px;
          }
        }
        img {
          padding-top: 4px;
        }
      }
    }
    .button-container {
      width: 250px;
      height: 20px;
      margin: 0 auto;
      a {
        text-decoration: none;
        span {
          position: absolute;
          margin-top: 2px;
          margin-left: 10px;
          color: #8d8d8d;
        }
      }
    }
  }
}

//survey page styles
#survey {
  max-width: 300px;
  height: 536px;
  position: relative;
  form {
    max-width: 250px;
    margin: 0 auto;

    label {
      //margin-top: 25px;
      line-height: 15px;
      display: block;
    }

    .input-container {
      position: relative;
      padding: 0;
      margin-top: 5px;

      input {
        height: 30px;
        width: 202px;
        padding-left: 46px;
        border-radius: 5px;
        border: 1px solid #cccccc;

        &:focus {
          background-color: #edfbd8;
          outline: 0;
        }
      }

      .input-img {
        position: absolute;
        bottom: 7px;
        left: 6px;
        width: 20px;
        height: 20px;
      }
    }

    .invalid-input {
      border-color: #e2231b;
      background-color: #fdcdcd;
    }

    .input-error-img {
      position: absolute;
      height: 12px;
      width: 12px;
      top: 10px;
      right: 10px;
      visibility: hidden;
    }

    .input-error-msg {
      visibility: hidden;
      float: right;
      color: #f4a5a8;
      margin-top: 5px;
      margin-bottom: 10px;
      font-size: .8em;
      line-height: 10px;
    }

    select {
      display: block;
      height: 34px;
      width: 250px;
      padding-left: 8px;
      margin-top: 5px;
      border: 1px solid #cccccc;
      border-radius: 5px;

      &:focus {
        background-color: #edfbd8;
        outline: 0;
      }
    }

    #dynamicContainer {
      display: none;
      margin-bottom: 25px;
      div {
        position: relative;
      }
      .input-error-msg {
        display: none;
        visibility: visible;
      }
    }

    textarea {
      border: 1px solid #cccccc;
      height: 70px;
      width: 248px;
      border-radius: 2px;
      padding: 0;
      &:focus {
        background-color: #edfbd8;
        outline: 0;
      }
    }

    button {
      color: white;
      float: right;
      width: 114px;
      height: 30px;
      border: 0;
      border-radius: 5px;
      background-image: url('../assets/btn-send-idle.png');
      cursor: pointer;
      &:hover {
        background-image: url('../assets/btn-send-hover.png');
      }
    }
  }

  #required-text {
    float: right;
    color: #989896;
    font-size: .8em;
    margin-top: 5px;
    margin-bottom: 0;
    line-height: 10px;
    span {
      color: #e2221d;
    }
  }
}

